<template>
  <div class="home">
    <HelloWorld msg="Calendario de Lu"/>
  </div>
  <div>
    <button @click="ADDFEED">Feed</button>
    <button @click="ADDPEE">Pee</button>
    <button>Poo</button>
  </div>

  <br>
  <br>
  <br>
  <table>
    <caption>FEED</caption>
    <th>ID</th>
    <th>Date</th>
    <tr v-for="entry in FEED_Entries['data']" :key="entry">
      <td>{{ entry.id }}</td>
      <td>{{ this.DATECONV( entry.created_at ) }}</td>
    </tr>
  </table>
  <br>

  <table>
    <th>ID</th>
    <th>Date</th>
    <tr v-for="entry in PEE_Entries['data']" :key="entry">
      <td>{{ entry.id }}</td>
      <td>{{ this.DATECONV( entry.created_at ) }}</td>
    </tr>
  </table>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import Axios from 'axios';

export default {
  name: 'Home',
  components: {
    HelloWorld
  },

  data() {
    return {
      currentDate: "",
      daysOfWeek: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
      weeks: [],
      FEED_Entries: [],
      PEE_Entries: [],
    }
  },
  mounted() {
    this.FEED_Entries = this.GETALL("feed")
    this.PEE_Entries = this.GETALL("pee")
  },
  computed: {
    // weeks() {
    // code to generate weeks of the month goes here
    // }
  },
  watch: {
    currentDate() {
      new Date()
    }
  },
  methods: {
    previousMonth() {
      this.currentDate.setMonth(this.currentDate.getMonth() - 1)
    },
    nextMonth() {
      this.currentDate.setMonth(this.currentDate.getMonth() + 1)
    },
    saveDate(N) {
      this.$store.commit('addCC', N)
      this.getNow()
      // console.log("[2]",this.$store.state.CC)
    },
    getNow() {
      this.currentDate = new Date().toISOString().slice(0,16)+"Z"
    },
    ADDFEED() {
      Axios.put('http://localhost:8081/v1/feed/add', {})
           .then((res) => {
               //Perform Success Action
               console.log(res) 
               this.GETALL("feed")
           })
           .catch((error) => {
               // error.response.status Check status code
               console.log(error) 
           })

    },
    ADDPEE() {
      Axios.put('http://localhost:8081/v1/pee/add', {})
           .then((res) => {
               //Perform Success Action
               console.log(res) 
               this.GETALL("pee")
           })
           .catch((error) => {
               // error.response.status Check status code
               console.log(error) 
           })

    },
    DATECONV(unix) {
      const d = new Date(unix * 1000)
      const a = d.toLocaleDateString() + " " + d.toTimeString().split(" ")[0].slice(0,-3)
      return a
    },
    async GETALL(endpoint) {
      setTimeout(() => { 

        Axios.get('http://localhost:8081/v1/' + endpoint + '/get/all')
          .then((res) => {
            console.log(res) 
            if (endpoint === "feed") {
              this.FEED_Entries = res
            }
            else if ( endpoint === "pee" ){
              this.PEE_Entries = res
            }
          })
          .catch((error) => {
            console.log(error)
          })
      })

    }
  }
}



</script>
