<template>
  <div class="about">
    <h1>This is an about page</h1>
    {{ this.$store.state.count }}
    {{ this.$store.state.L }}
  </div>
</template>

<script>
export default {
  name: 'About',
  props: {
    msg: String
  },

  data() {
    return { 
      count: 0
    }
  },

  computed: {
  },

  methods: {
  }


}
</script>
