<template>
<div>{{ price }} * {{ quantity }} = {{ total }}</div>
</template>

<script charset="utf-8">
import { computed, defineComponent, reactive, toRefs } from 'vue';
export default defineComponent({
  name: 'Product',
  setup() {
    const state = reactive({
      price: 10,
      quantity: 1
    });
    const total = computed(() => state.price * state.quantity);
    // update the price and quantity after 3 seconds
    setTimeout(() => {
      state.price = 9;
      state.quantity = 3;
    }, 3000);
    return { ...toRefs(state), total };
  }
});
</script>
