<script setup lang="ts">
import DarkModeSwitcher from "../components/DarkModeSwitcher";
import logoUrl from "../assets/images/logo.svg";
import illustrationUrl from "../assets/images/illustration.svg";
import { FormInput, FormCheck } from "../base-components/Form";
import Button from "../base-components/Button";
import { useRoute } from "vue-router";
import {ref,provide} from 'vue';
import Notification from "../base-components/Notification";
import { NotificationElement } from "../base-components/Notification";
import Lucide from "../base-components/Lucide";
import Toastify from "toastify-js";

const { cookies } = useCookies();
const route = useRoute();


import { reactive, toRefs } from "vue";
import {
  required,
  minLength,
  maxLength,
  email,
  url,
  integer,
} from "@vuelidate/validators";
import { useVuelidate } from "@vuelidate/core";

</script>

<script lang="ts">
import axios from 'axios';
import { useCookies } from "vue3-cookies";

export default {
  name: 'Login',
  setup() {
//    const Data = reactive({
//      username: "",
//      password: "",
//    });
//
//    const rules = {
//      username: { required, },
//      password: { required, },
//    };
//
//    const validate = useVuelidate(rules, toRefs(Data));
//
//    const onSubmit = () => {
//      validate.value.$touch();
//      if (validate.value.$invalid) {
//        const failedEl = document
//          .querySelectorAll("#basicNonStickyNotification")[0]
//          .cloneNode(true) as HTMLElement;
//        failedEl.classList.remove("hidden");
//        Toastify({
//          node: failedEl,
//          duration: 3000,
//          newWindow: true,
//          close: true,
//          gravity: "top",
//          position: "right",
//          stopOnFocus: true,
//        }).showToast();
//      } else {
//        const successEl = document
//          .querySelectorAll("basicNonStickyNotification")[0]
//          .cloneNode(true) as HTMLElement;
//        successEl.classList.remove("hidden");
//        Toastify({
//          node: successEl,
//          duration: 3000,
//          newWindow: true,
//          close: true,
//          gravity: "top",
//          position: "right",
//          stopOnFocus: true,
//        }).showToast();
//      }
//      
//      return { onSubmit }
  },
  data() {
    return {
      msg: "Login failed. Please check your credentials.",
      password: "",
      username: "",
    }
  },
  methods:{
    submitForm() {

      // Send a POST request to the server for authentication
      function sleep (time) {
        return new Promise((resolve) => setTimeout(resolve, time));
      }
      // TODO add form validation

      axios
        .post('http://localhost:8081/v1/auth/login', {
          username: this.username,
          password: this.password,
        },{
          withCredentials: true,
          headers: {
              'Content-Type': 'application/json'
          }
        })
        .then((response) => {
          // Handle a successful login response here
          //console.log("[!] r", this.$route.query["from"]);
          if (this.$route.query["from"]) {
            //console.log("[!] this");
            this.$router.push(this.$route.query["from"]);
          } else {
            //console.log("[!] that");
            //console.log("[!]",this.$route.query["from"])
            this.$router.push("/");
          }
        })
        .catch((error) => {
          // Handle authentication error
          this.msg = 'Login failed. Please check your credentials.';

          if (error.response.status >= 400 ) {
            const failedEl = document
              .querySelectorAll("#basicNonStickyNotification")[0]
              .cloneNode(true) as HTMLElement;

            sleep(100).then(() => {
                // Do something after the sleep!
                console.log("error", error.response.data.error)

                failedEl.classList.remove("hidden");

                Toastify({
                  node: failedEl,
                  duration: 5000,
                  newWindow: true,
                  close: true,
                  gravity: "top",
                position: "right",
                stopOnFocus: true,
              }).showToast();
          });
        }
      });
  }
},
mounted() {
  console.log("[!] >>>|", this.$route.fullPath)
}
}
</script>

<template>
  <div
    :class="[
      '-m-3 sm:-mx-8 p-3 sm:px-8 relative h-screen lg:overflow-hidden bg-primary xl:bg-white dark:bg-darkmode-800 xl:dark:bg-darkmode-600',
      'before:hidden before:xl:block before:content-[\'\'] before:w-[57%] before:-mt-[28%] before:-mb-[16%] before:-ml-[13%] before:absolute before:inset-y-0 before:left-0 before:transform before:rotate-[-4.5deg] before:bg-primary/20 before:rounded-[100%] before:dark:bg-darkmode-400',
      'after:hidden after:xl:block after:content-[\'\'] after:w-[57%] after:-mt-[20%] after:-mb-[13%] after:-ml-[13%] after:absolute after:inset-y-0 after:left-0 after:transform after:rotate-[-4.5deg] after:bg-primary after:rounded-[100%] after:dark:bg-darkmode-700',
    ]"
  >
    <DarkModeSwitcher />
    <div class="container relative z-10 sm:px-10">
      <div class="block grid-cols-2 gap-4 xl:grid">
        <!-- BEGIN: Login Info -->
        <div class="flex-col hidden min-h-screen xl:flex">
          <a href="" class="flex items-center pt-5 -intro-x">
            <img
              alt="Midone Tailwind HTML Admin Template"
              class="w-6"
              :src="logoUrl"
            />
            <span class="ml-3 text-lg text-white"> Rubick </span>
          </a>
          <div class="my-auto">
            <img
              alt="Midone Tailwind HTML Admin Template"
              class="w-1/2 -mt-16 -intro-x"
              :src="illustrationUrl"
            />
            <div
              class="mt-10 text-4xl font-medium leading-tight text-white -intro-x"
            >
              A few more clicks to <br />
              sign in to your account.
            </div>
            <div
              class="mt-5 text-lg text-white -intro-x text-opacity-70 dark:text-slate-400"
            >
              Manage all your e-commerce accounts in one place
            </div>
          </div>
        </div>
        <!-- END: Login Info -->
        <!-- BEGIN: Login Form -->
        <div class="flex h-screen py-5 my-10 xl:h-auto xl:py-0 xl:my-0">
          <div
            class="w-full px-5 py-8 mx-auto my-auto bg-white rounded-md shadow-md xl:ml-20 dark:bg-darkmode-600 xl:bg-transparent sm:px-8 xl:p-0 xl:shadow-none sm:w-3/4 lg:w-2/4 xl:w-auto"
          >
            <h2
              class="text-2xl font-bold text-center intro-x xl:text-3xl xl:text-left"
            >
              Sign In
            </h2>
            <div class="mt-2 text-center intro-x text-slate-400 xl:hidden">
              A few more clicks to sign in to your account. 
            </div>
            <form @submit.prevent="submitForm()">
            <div class="mt-8 intro-x">
              <FormInput
                v-model.trim="username"
                type="text"
                id="username"
                class="block px-4 py-3 intro-x login__input min-w-full xl:min-w-[350px]"
                placeholder="Email"
              />
              <FormInput
                v-model="password"
                type="password"
                id="password"
                class="block px-4 py-3 mt-4 intro-x login__input min-w-full xl:min-w-[350px]"
                placeholder="Password"
              />
            </div>
            <div
              class="flex mt-4 text-xs intro-x text-slate-600 dark:text-slate-500 sm:text-sm"
            >
              <div class="flex items-center mr-auto">
                <FormCheck.Input
                  id="remember-me"
                  type="checkbox"
                  class="mr-2 border"
                />
                <label class="cursor-pointer select-none" htmlFor="remember-me">
                  Remember me
                </label>
              </div>
              <RouterLink
                :to="{ name: 'forgot' }"
              >
              <a href="">Forgot Password?</a>
              </RouterLink>
            </div>
            <div class="mt-5 text-center intro-x xl:mt-8 xl:text-left">
              <Button
                variant="primary"
                class="w-full px-4 py-3 align-top xl:w-32 xl:mr-3"
                id="submit"
              >
                Login
              </Button>
              <RouterLink
                :to="{ name: 'register' }"
              >
                <Button
                  variant="outline-secondary"
                  class="w-full px-4 py-3 mt-3 align-top xl:w-32 xl:mt-0"
                  >
                  Register
                </Button>
              </RouterLink>
            </div>
            </form>
            <div
              class="mt-10 text-center intro-x xl:mt-24 text-slate-600 dark:text-slate-500 xl:text-left"
            >
              By signin up, you agree to our
              <a class="text-primary dark:text-slate-200" href="">
                Terms and Conditions
              </a>
              &
              <a class="text-primary dark:text-slate-200" href="">
                Privacy Policy
              </a>
            </div>
          </div>
        </div>
        <!-- END: Login Form -->
      </div>
    </div>
  </div>



<!-- BEGIN: Basic Non Sticky Notification Content -->
<Notification 
    id="basicNonStickyNotification" 
    :options="{ duration: 50000, }" class="flex flex-col sm:flex-row hidden">
    <Lucide icon="AlertOctagon" class="w-6 h-6 mr-2" />
    {{msg}}
</Notification>
<!-- END: Basic Non Sticky Notification Content -->
</template>
