<template>
  <div class="flex items-center mt-8 intro-y">
    <h2 class="mr-auto text-lg font-medium">Page 2</h2>
  </div>
  <!-- BEGIN: Page Layout -->
  <div id="examplo" class="p-5 mt-5 intro-y box">Examplo the cat is wrong</div>
  <!-- END: Page Layout -->
</template>
