<template>
  <!-- BEGIN: Page Layout -->

<div class="grid grid-cols-1 gap-4 place-items-stretch h-60 sticky inset-y-20 z-50">
    <Button @click="ADD('crud')" variant="primary" class="w-100 mt-5">
        NEW CRUD 
    </Button>

    <!-- <Button @click="RESET('crud')" variant="danger" class="mb-2 mr-1 w-100 h-10"> -->
    <Button @click="setModal('reset',true)" variant="danger" class="mb-2 mr-1 w-100 h-10">
        <Lucide icon="Trash" class="w-5 h-5" />
    </Button>
</div>

<div class="overflow-x-auto">
    <Table>
        <Table.Thead>
            <Table.Tr>
                <Table.Th @click="sortTable(ID)" class="whitespace-nowrap">ID</Table.Th>
                <Table.Th class="whitespace-nowrap"> DATE </Table.Th>
                <Table.Th class="whitespace-nowrap"> ACTIONS </Table.Th>
            </Table.Tr>
        </Table.Thead>
        <Table.Tbody  >
            <Table.Tr v-for="(entry, indx) in ENTRIES" :key=entry> 
                <Table.Td>{{ indx + 1 }}</Table.Td>
                <Table.Td>{{ DATECONV( entry.created_at ) }}</Table.Td>
                <Table.Td> 
                    <Button @click="setModal('delete', true, entry.id)" variant="danger" class="mb-2 mr-1">
                    <!-- <Button @click="DEL('crud', entry.id)" variant="danger" class="mb-2 mr-1"> -->
                        <Lucide icon="Trash" class="w-4 h-4" />
                    </Button>
                    <Button @click="setModal('edit', true, entry.id)" variant="primary" class="mb-2 mr-1">
                        <Lucide icon="Edit" class="w-4 h-4" />
                    </Button>
                </Table.Td>
            </Table.Tr>
        </Table.Tbody>
    </Table>
</div>


<!---------------------------------------- MODALS -->  

<!-- BEGIN: Modal EDIT ENTRY-->
<Dialog :open="editModal" @close="setModal('edit', false)">

    <Dialog.Panel class="p-10 text-center">
        DATE: <Datepicker v-model="date" placeholder="click here to update..." :flow="flow" month-name-format="short" >
          <template #am-pm-button="{ toggle, value }">
            <button @click="toggle">{{ value }}</button>
          </template>
        </Datepicker>
        <br>
        <Button type="button" variant="soft-danger" @click="confirm=true" class="w-24 mr-1">
            Update
        </Button>

        <!-- BEGIN: Modal CONFIRM ENTRY-->
        <Dialog :open="confirm" @close="this.confirm=false" >
            <Dialog.Panel>
            <div class="p-5 text-center">
                <Lucide icon="XCircle" class="w-16 h-16 mx-auto mt-3 text-danger" />
                <div class="mt-5 text-3xl">Are you sure?</div>
                <div class="mt-2 text-slate-500">
                    Do you really want to update these record? <br />
                </div>
            </div>
            <div class="px-5 pb-8 text-center">
                <Button type="button" variant="outline-secondary" @click="confirm=false" class="w-24 mr-1">
                    Cancel
                </Button>
                <Button @click="UPDATE('crud', vals); confirm=false,setModal('edit', false)" type="button" variant="danger" class="w-24">
                    Confirm 
                </Button>
            </div>
            </Dialog.Panel>
        </Dialog>
        <!-- END: Modal Content -->
    </Dialog.Panel>
    
</Dialog>


<!-- BEGIN: Modal DELETE ENTRY-->
<Dialog :open="deleteModal" @close="setModal('delete',false)" >
    <Dialog.Panel>
        <div class="p-5 text-center">
            <Lucide icon="XCircle" class="w-16 h-16 mx-auto mt-3 text-danger" />
            <div class="mt-5 text-3xl">Are you sure?</div>
            <div class="mt-2 text-slate-500">
                Do you really want to delete these records? <br />
                This process cannot be undone.
            </div>
        </div>
        <div class="px-5 pb-8 text-center">
            <Button type="button" variant="outline-secondary" @click="setModal('delete',false)" class="w-24 mr-1">
                Cancel
            </Button>
            <Button @click="DEL('crud', vals),setModal('delete',false)" type="button" variant="danger" class="w-24" >
                Delete
            </Button>
        </div>
    </Dialog.Panel>
</Dialog>
<!-- END: Modal Content -->


<!-- BEGIN: Modal RESET -->
<Dialog :open="resetModal" @close="setModal('reset',false)" >
    <Dialog.Panel>
        <div class="p-5 text-center">
            <Lucide icon="XCircle" class="w-16 h-16 mx-auto mt-3 text-danger" />
            <div class="mt-5 text-3xl">Are you sure?</div>
            <div class="mt-2 text-slate-500">
                Do you really want to delete these records? <br />
                This process cannot be undone.
            </div>
        </div>
        <div class="px-5 pb-8 text-center">
            <Button type="button" variant="outline-secondary" @click="setModal('reset',false)" class="w-24 mr-1">
                Cancel
            </Button>
            <Button @click="RESET('crud'), setModal('reset',false)" type="button" variant="danger" class="w-24" >
                Delete
            </Button>
        </div>
    </Dialog.Panel>
</Dialog>
<!-- END: Modal Content -->

</template>

<script setup>
import Table  from "../base-components/Table";
import Button from "../base-components/Button";
import Lucide from "../base-components/Lucide";
import { Dialog } from "../base-components/Headless";
</script>

<script>
import Axios from 'axios';
import Datepicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'


export default {
  name: 'Crud',
  components: {
    Table,
  },
  
  data() {
    return {
      currentDate: "",
      daysOfWeek: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
      weeks: [],
      ENTRIES: {},
      DOMAIN: import.meta.env.VITE_DOMAIN,
      editModal: false,
      deleteButtonRef: "",
      deleteModal: false,
      resetModal: false,
      reset: false,
      confirm: false,
      vals: "",
      time: { 
        hours: new Date().getHours(),
        minutes: new Date().getMinutes()
      },
      date: new Date(),
      flow: ["day", "time"]
    }
  },
  async created() {
    console.log("[Computed]", this.ENTRIES.length)
    this.ENTRIES = await this.GETALL("crud")
    this.date = ""
  },
  computed: {
    // weeks() {
    // code to generate weeks of the month goes here
    // }
  },
  watch: {
    currentDate() {
      new Date()
    }
  },
  methods: {
    getNow() {
      this.currentDate = new Date().toISOString().slice(0,16)+"Z"
    },
    setModal(type, value, id="") {
      if (type === "edit") {
        this.editModal= value;
        this.vals = id
      } else if (type === "delete") {
        this.deleteModal= value;
        this.vals = id
      } else if (type === "reset") {
        this.resetModal= value;
      }
    },
    DATECONV(unix) {
      const d = new Date(unix * 1000)
      const a = d.toLocaleDateString() + " " + d.toTimeString().split(" ")[0].slice(0,-3)
      return a
    },
    DATEUNIX(t) {
      const d = Date.parse(t) / 1000
      return d
    },
    ADD(endpoint) {
      Axios.put(this.DOMAIN + endpoint + '/add', {})
           .then((res) => {
               //Perform Success Action
               console.log(res) 
               this.GETALL(endpoint)
           })
           .catch((error) => {
               // error.response.status Check status code
               console.log(error) 
           })

    },
    async RESET(endpoint) {
      setTimeout(() => { 
        Axios.delete(this.DOMAIN + endpoint + '/delete/all')
          .then((res) => {
            console.log(res) 
            if (endpoint === "crud") {
              this.ENTRIES= []
            }
          })
          .catch((error) => {
            console.log(error)
          })
      }, 100)
    },
    async DEL(endpoint, ID) {
      setTimeout(() => { 
        Axios.delete(this.DOMAIN + endpoint + '/delete/' + ID)
          .then((res) => {
            // console.log(res) 
            this.GETALL(endpoint)
          })
          .catch((error) => {
            console.log(error)
          })
      }, 100)
    },
    async UPDATE(endpoint, ID) {
      const PAYLOAD = "created_at="+this.DATEUNIX(this.date).toString()
      setTimeout(() => { 
          Axios.put(this.DOMAIN + endpoint + '/update/' + ID, PAYLOAD)
              .then((res) => {
                  // console.log(res) 
                  this.GETALL(endpoint)
                  this.date = ""
              })
              .catch((error) => {
                  console.log(error)
              })
      }, 100)
    },
    async GETALL(endpoint) {
      setTimeout(() => { 
        Axios.get(this.DOMAIN + endpoint + '/get/all')
          .then((res) => {
            // console.log(res) 
            if (endpoint === "crud") {
              this.ENTRIES= res["data"]
              // console.log("[ENTRIES]",this.ENTRIES)
            }
          })
          .catch((error) => {
            console.log(error)
          })
      }, 100)
    }
  }
}
</script>
