<template>
  <!-- BEGIN: Page Layout -->

<div class="grid grid-cols-1 gap-4 place-items-stretch h-60 sticky inset-y-20 z-50">
    <Button @click="ADD('pee')" variant="primary" class="w-100 mt-5">
        New PEE 
    </Button>

    <Button @click="RESET('pee')" variant="danger" class="mb-2 mr-1 w-100 h-10">
        <Lucide icon="Trash" class="w-5 h-5" />
    </Button>
</div>


<div class="overflow-x-auto">
    <Table>
        <Table.Thead>
            <Table.Tr>
                <Table.Th @click="sortTable(ID)" class="whitespace-nowrap">ID</Table.Th>
                <Table.Th class="whitespace-nowrap"> DATE </Table.Th>
                <Table.Th class="whitespace-nowrap"> ACTIONS </Table.Th>
            </Table.Tr>
        </Table.Thead>
        <Table.Tbody  >
            <Table.Tr v-for="entry in ENTRIES" :key=entry> 
                <Table.Td>{{ entry.id }}</Table.Td>
                <Table.Td>{{ DATECONV( entry.created_at ) }}</Table.Td>
                <Table.Td> 
                    <Button @click="DEL('pee', entry.id)" variant="danger" class="mb-2 mr-1">
                        <Lucide icon="Trash" class="w-3 h-3" />
                    </Button>
                </Table.Td>
            </Table.Tr>
        </Table.Tbody>
    </Table>
</div>

  <!-- END: Page Layout -->

</template>

<script setup>
import Table  from "../base-components/Table";
import Button from "../base-components/Button";
import Lucide from "../base-components/Lucide";
</script>

<script>
import Axios from 'axios';

export default {
  name: 'Pee',
  components: {
    Table
  },
  
  data() {
    return {
      currentDate: "",
      daysOfWeek: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
      weeks: [],
      ENTRIES: {},
      DOMAIN: import.meta.env.VITE_DOMAIN,
    }
  },
  async created() {
    console.log("[Computed]", this.ENTRIES.length)
    this.ENTRIES = await this.GETALL("pee")
  },
  computed: {
    // weeks() {
    // code to generate weeks of the month goes here
    // }
  },
  watch: {
    currentDate() {
      new Date()
    }
  },
  methods: {
    getNow() {
      this.currentDate = new Date().toISOString().slice(0,16)+"Z"
    },

    DATECONV(unix) {
      const d = new Date(unix * 1000)
      const a = d.toLocaleDateString() + " " + d.toTimeString().split(" ")[0].slice(0,-3)
      return a
    },
    ADD(endpoint) {
      Axios.put(this.DOMAIN + endpoint + '/add', {})
           .then((res) => {
               //Perform Success Action
               console.log(res) 
               this.GETALL(endpoint)
           })
           .catch((error) => {
               // error.response.status Check status code
               console.log(error) 
           })

    },
    async RESET(endpoint) {
      setTimeout(() => { 
        Axios.delete(this.DOMAIN + endpoint + '/delete/all')
          .then((res) => {
            console.log(res) 
            if (endpoint === "feed") {
              this.ENTRIES= []
            }
            else if ( endpoint === "pee" ){
              this.ENTRIES= []
            }
          })
          .catch((error) => {
            console.log(error)
          })
      }, 100)
    },
    async DEL(endpoint, ID) {
      setTimeout(() => { 
        Axios.delete(this.DOMAIN + endpoint + '/delete/' + ID)
          .then((res) => {
            // console.log(res) 
            this.GETALL(endpoint)
          })
          .catch((error) => {
            console.log(error)
          })
      }, 100)
    },
    async GETALL(endpoint) {
      setTimeout(() => { 
        Axios.get(this.DOMAIN + endpoint + '/get/all')
          .then((res) => {
            // console.log(res) 
            if (endpoint === "feed") {
              this.ENTRIES= res["data"]
              // console.log("[ENTRIES]",this.ENTRIES)
            }
            else if ( endpoint === "pee" ){
              this.ENTRIES= res["data"]
            }
          })
          .catch((error) => {
            console.log(error)
          })
      }, 100)
    }
  }
}
</script>
