<script setup lang="ts">
import Button from "@/components/Base/Button";
import { FormSwitch, FormTextarea, FormInput, FormLabel, FormSelect , FormCheck} from "@/components/Base/Form";
import { nextTick, ref, reactive, onMounted, computed} from 'vue'
import Preview from "@/components/Base/Preview";
import { Menu, Slideover, Dialog } from "@/components/Base/Headless";
import Lucide from "@/components/Base/Lucide";
import TomSelect  from "@/components/Base/TomSelect"
import { useRoute, useRouter } from 'vue-router';

const route = useRoute();

</script>

<template>
  <div class="flex items-center mt-8">
    <h2 class="mr-auto text-lg font-medium intro-y">Devops Maturity Badge - {{ route.params.project }}</h2>
  </div>
  <!-- BEGIN: Badges -->
  <div class="py-10 mt-5 intro-y box sm:py-20">
      badges

  </div>
  <!-- END: Badges -->

</template>
