<script setup lang="ts">
import { InputGroup, FormInput, FormLabel, FormCheck} from "@/components/Base/Form";
import { ref, onMounted } from 'vue'
import { Menu, Slideover, Dialog } from "@/components/Base/Headless";
import { useRoute, useRouter } from 'vue-router';
import Button from "@/components/Base/Button";
import Preview from "@/components/Base/Preview";
import Lucide from "@/components/Base/Lucide";
import TomSelect  from "@/components/Base/TomSelect"

const route = useRoute();
const router = useRouter();

const selection_opts = ref(["devops", "alternative assets", "active equities"])
const project = ref(selection_opts.value[0])

const basicModalPreview = ref(false);
const setBasicModalPreview = (value: boolean) => {
  basicModalPreview.value = value;
};

const buttonModalPreview = ref(false);
const setButtonModalPreview = (value: boolean) => {
  buttonModalPreview.value = value;
};

function redir(proj) {
	if (proj !== '' )  {
		const encoded_params = encodeURIComponent(proj)
		console.log(encoded_params)

		router.push({ path: `/project/${encoded_params}` });
	}
}

onMounted(() => {
	setButtonModalPreview(true)
	console.log("[!] mounted", project.value) 
})

</script>

<template>
  <div class="flex items-center mt-8">
    <h2 class="mr-auto text-lg font-medium intro-y">Project Selection</h2>
  </div>


<!-- BEGIN: Modal Content -->
<Dialog staticBackdrop  :open="buttonModalPreview" @close="
                  () => {
                    setButtonModalPreview(false);
                  }
                ">
    <Dialog.Panel>
        <a @click="(event: MouseEvent) => {
                        event.preventDefault();
                      }" class="absolute top-0 right-0 mt-3 mr-3" href="#">
        </a>
        <div class="intro-y p-5 text-center">
            <Lucide icon="CheckCircle" class="w-16 h-16 mx-auto mt-3 text-success" />
            <div class="mt-5 text-3xl">Please Select Your Team</div>
        </div>

				<div class="flex flex-row-reverse justify-center p-10 mb-10 intro-y h-100">
							<TomSelect v-model="project" class="text-centre p-3 w-80 justify-center" :options="{placeholder: 'select your team'}" >
									<option v-for="(v, idx) in selection_opts" :idx="idx" id="`option-${idx}`" :value="v">{{ v }}</option>
							</TomSelect>
							<Button @click="redir(project)" variant="primary" class="ml-4"> Select </Button>
				</div>

    </Dialog.Panel>
</Dialog>
<!-- END: Modal Content -->


</template>
