<script charset="utf-8">
export default {
}
</script>

<script setup>
import {ref, reactive, computed} from 'vue';
const name = ref('');
const last = ref('');
const langs = reactive([]);
const addLang = (event) => {
  console.log('[!] ev', event)
  if (!event.target.value) return;
  langs.push(event.target.value);
  event.target.value = '';
}
const fullname = computed(
  () => `${name.value} ${last.value}`
);

const langsW = computed(
  () => langs.length
);
  
</script>

<template>
  <h2 class="text-lg font-medium">COMPUTED</h2>
  <input v-model="name" type="text" id="name" />
  <input v-model="last" type="text" id="last" />
  <input @keyup.enter="addLang" type="text" id="lang" />
  <h3>{{ fullname }}</h3>
  <p>langs: {{ langsW }}</p>
  <p>langs: {{ langs.toString()}}</p>
</template>
