<script setup>
import Button from "../Button/Button.vue";
import {useMessages} from './composable';
import {useQuotes} from './quotes';
import {useSearch} from './quotes_search';

const {messages, deleteMessage, addMessage} = useMessages();

// quotes
const {quotes, isLoading, error} = useQuotes();
const {searchTerm, filteredItems} = useSearch(quotes);

</script>

<template>
  <h2 class="text-lg font-medium mb-3">COMPOSABLE</h2>

  <div v-if="!isLoading">
    <h2 class="text-md font-medium">Composable quotes</h2>
    <label>
      search
      <input v-model="searchTerm" type="text"  id="search"/>
    </label>  
    <ul>
      <li v-for="(q, id) in filteredItems.slice(0,3)" :key="id">
        <div class="font-medium">{{q.author}}:</div> {{q.quote}}
      </li>
    </ul>
  </div>
  <div v-else-if="isLoading">
    loading...
  </div>
  <div v-else-if="error">
    {{ error }}
  </div>

  <br>
  <h2 class="text-md font-medium">Composable msgs</h2>
  <ul class="">
    <li v-for="(msg, id) in messages" :key='id' class="">
      {{msg}}
      <Button @click="deleteMessage(msg)">delete</Button>
    </li>
  </ul>
</template>
