<script setup>
import { ref,reactive } from 'vue'
import Button from "../Button/Button.vue";

const formData = reactive({name: "", occupation: ""})

const update = (e) => {
  //console.log(e)
  formData.name = e.name
  formData.occupation = e.occupation
}

const store = (e) => {
  //console.log(e)
  formData.name = e.name
  formData.occupation = e.occupation
}
  
</script>


<template>
  <h2 class="text-lg font-medium mb-3">COMPONENT TEST</h2>
  <br>


</template>
