<script setup>
import {ref, reactive, toRefs} from 'vue'
import {useCounterStore} from '../../stores/counter'
import { FormInput, FormLabel} from "../Form";
import Button from "../Button/Button.vue";
import { useVuelidate } from "@vuelidate/core";

import {
  required,
  minLength,
  maxLength,
  email,
} from "@vuelidate/validators";


const formData = reactive({
  email: "",
  passwd: ""
})

const rules = {
  email: {
    required,
    email,
  },
  passwd: {
    required,
    minLength: minLength(6)
  },
};

const validate = useVuelidate(rules, toRefs(formData));

const onSubmit = (e) => {
    validate.value.$touch();
    if (validate.value.$invalid) {
      console.log("[!] T1", validate )
    } else {
      console.log("[!] T2", validate)
    }
}

</script>

<template>
<h2 class="text-lg font-medium mb-3">FORM_VALIDATION</h2>

<div>
<form class="validate-form" @submit.prevent="onSubmit">
  <!-- START EMAIL -->
  <FormLabel
    htmlFor="validation-form-b"
    class="flex flex-col w-full sm:flex-row"
  >
   Email 
  </FormLabel>
  <FormInput
    v-model="validate.email.$model"
    id="validation-form-b"
    type="text"
    name="email"
    autocomplete="off"
    placeholder="email@company"
    :class="{
      'border-red-600': validate.email.$error,
    }"
  />
  <template v-if="validate.email.$error">
    <div
      v-for="(error, index) in validate.email.$errors"
      :key="index"
      class="mt-2 text-danger float-right"
    >
      {{ error.$message }}
    </div>
  </template>

  <!-- START PASS -->
  <FormLabel
    htmlFor="validation-form-c"
    class="flex flex-col w-full sm:flex-row mt-5"
  >
    Password
  </FormLabel>
  <FormInput
    v-model="validate.passwd.$model"
    id="validation-form-c"
    type="password"
    name="cur-pass"
    autocomplete="off"
    placeholder="current password"
    :class="{
      'border-red-600': validate.passwd.$error,
    }"
  />
  <template v-if="validate.passwd.$error">
    <div
      v-for="(error, index) in validate.passwd.$errors"
      :key="index"
      class="mt-2 text-danger float-right"
    >
      {{ error.$message }}
    </div>
  </template>
  <Button type="submit" class="mt-5">submit</Button>
</form>
</div>

</template>
