<script>
import {h,ref} from 'vue';

export default {
  props: ["greet", "who"],
  setup(props) {
    const hasValue = props.greet && props.who;

    let isOn = ref(false);
    const toggle = () => {
      isOn = !isOn;
      console.log(isOn.value)
    }
    const updateProp = () => {
      console.log("[!] update: ", isOn == true)
      props.who.value = "joke"
    }
    return () => 
      hasValue 
        ? h("div", `${props.greet} ${props.who}`)
        : h("div", {style: {color: "cyan"}}, "info");
  }
}
</script>

<template>
  <div>Empty</div>
  <div>ON: {{isOn}}</div>
  <div>WHO: {{ this.props.who }}</div>
  <button @click="toggle(); updateProp();">toggle</button>
</template>
