<script setup>
import Button from "../Button/Button.vue";
import {
  ref,
  onMounted,
  onBeforeMount,
  onUpdated,
  onBeforeUpdate,
  onUnmounted,
  onBeforeUnmount
} from 'vue';

const deleteItem = (value) => {
  list.value = list.value.filter((item) => item !== value);
}

const list = ref([
"julio",
"marina"
])

//onMounted(() =>{
//  alert("on mounted")
//})
//
//onBeforeMount(() => {
//  alert("on before mounted")
//})

onUpdated(()=>{
  alert("on updated")
})

onBeforeUpdate(() => {
  alert("on before update")
})

onUnmounted(() => {
  alert("on unmounted")
})

onBeforeUnmount(() => {
  alert("on before unmount")
})

</script>


<template>
<h2 class="text-lg font-medium">LIFECYCLE</h2>
<ul>
  <li v-for="(item, n) in list" :key="n">
    {{ item }}
    <Button @click="deleteItem(item)">delete</Button>
  </li>
</ul>
</template>
