<script setup>
import Button from "../Button/Button.vue";
import {ref, reactive} from 'vue';


const search = ref([]);
const blogs = reactive([
  {name: "aa", fav: true},
  {name: "a", fav: true},
  {name: "b", fav: false},
  {name: "c", fav: false}
]);

const toggleFav = (index) => {
  blogs[index].fav = !blogs[index].fav;
}

const filterBlogs = () => {
  return blogs.filter(
    blog => blog.name.includes(
      search.value 
    )
  )
}

const isOn = ref(false);
const toggle = () => {
  console.log(isOn.value)
  isOn.value = !isOn.value;
}
</script>

<template>
  <h2 class="text-lg font-medium align-center">REF-REACTIVE</h2>
  <div class="flex content-center align-center items-center">
    <Button @click="toggle" class="w-32">toggle</Button>
    <div class="flex-1 w-8 text-center">ON: {{isOn}}</div>
  </div>

  <div>
    <label>search
      <input type="text" v-model="search" name="search" id="search"/>
    </label> 
  </div>

  <div>
    <ul>
      <li v-for="(b, id) in filterBlogs()" :key="id">
        <div class="flex col-2 w-100 content-center justify-items-stretch items-center w-full">
          <div class="pr-2">{{b.name}}</div>
          <div class="pr-2">{{b.fav}}</div>
          <div>
            <Button @click="toggleFav(id)" >
              {{ b.fav ? "del" : "add"  }}
            </Button>
          </div>
        </div>
      </li>
    </ul>
  </div>

</template>

