<script setup>
import {computed} from 'vue'
import {useCounterStore} from '../../stores/counter'
  
const store = useCounterStore()
const doubl = computed(() => store.doubleCount) 
</script>

<template>
  counter: {{ store.counter }}
  double:{{ doubl }}

</template>


