<script setup>
import {ref} from 'vue';
import {store} from '../../stores/store.js'

import { FormInput, FormLabel} from "../Form";
import Button from "../Button/Button.vue";

const name = ref('')
const occupation = ref('')

const emit = defineEmits(['submit', 'custom'])

function updateStore() { 
  store.name = name.value
  store.occupation = occupation.value
  emit('custom', { 
    name: store.name, 
    occupation: store.occupation,
  });
}

function submitForm() { 
  emit('submit', { 
    name: name.value, 
    occupation: occupation.value,
  });
}

function clear() { 
  this.name = ''
  this.occupation = ''
  store.name = ''
  store.occupation = ''
  emit('submit', {name: '', occupation: ''})
}

</script>


<template>
  <br>
  event:{{store}}
  <br>
  <FormLabel
    htmlFor="validation-form-1"
    class="flex flex-col w-full sm:flex-row"
  >
    Name
  </FormLabel>
  <FormInput
    v-model="name"
    id="validation-form-1"
    type="text"
    name="name"
    placeholder="John Legend"
  />

  <FormLabel
    htmlFor="validation-form-2"
    class="flex flex-col w-full sm:flex-row mt-3"
  >
   Occupation 
  </FormLabel>
  <FormInput
    v-model="occupation"
    id="validation-form-2"
    type="text"
    name="occupation"
    placeholder="Occupation"
  />

  <Button @click="updateStore()" class="mr-1 mt-1" >Store</Button>
  <Button @click="submitForm()" class="mr-1 mt-1" >Submit</Button>
  <Button @click="clear()" type='button' class="mr-1" mt-1 >Clear</Button>

</template>
