<script setup>
const props = defineProps({formData:Object});
  
</script>

<template>
  <br>
  <div class="flex col-1 mt-5">
    <div class="flex-1">
      Name: {{formData.name }}
    </div>
    <div class="flex-1">
      Ocupation: {{formData.occupation }}
    </div>
  </div>

</template>
