<script setup>
import {ref} from 'vue'
import {useCounterStore} from '../../stores/counter'
import { FormInput, FormLabel} from "../Form";
import Button from "../Button/Button.vue";

const store = useCounterStore()
const val = ref(0)

const update = () => {
  store.counter = val.value
}
  
</script>

<template>
<div>
  <FormLabel
    htmlFor="validation-form-a"
    class="flex flex-col w-full sm:flex-row"
  >
    Edit
  </FormLabel>
  <FormInput
    v-model="val"
    id="validation-form-a"
    type="text"
    name="counter"
    placeholder="counter"
  />
  <Button @click="update">submit</Button>
</div>

</template>
