<script setup>
import { ref,reactive } from 'vue'
import Button from "../Button/Button.vue";

import StateOne from './state_one.vue'
import StateTwo from './state_two.vue'
import StateGlobal from './state_global.vue'
import StateEdit from './state_global_edit.vue'

const formData = reactive({name: "", occupation: ""})

const update = (e) => {
  //console.log(e)
  formData.name = e.name
  formData.occupation = e.occupation
}

const store = (e) => {
  //console.log(e)
  formData.name = e.name
  formData.occupation = e.occupation
}
  
</script>


<template>
  <h2 class="text-lg font-medium mb-3">GLOBAL STATE</h2>
  <StateGlobal />
  <StateEdit />
  <br>

  <h2 class="text-lg font-medium mb-3">LOCAL STATE</h2>
  form:{{ formData }}
  <StateOne @submit="update($event)" @custom="store($event)" />
  <StateTwo :formData="formData"/>
</template>
