<script setup>
import { ref } from 'vue'
import Button from "../Button/Button.vue";

const show = ref(false);
const doc = ref('enable')
const msg = "I should be fade in";

</script>

<template>
  <h2 class="text-lg font-medium mb-3">TRANSITION</h2>

  <div class="flex flex-row ">
    <div class="flex-1 w-20 inline-block relative h-10">
      <Transition name="slide-up" >
        <Button v-if="doc === 'enable'" @click="show = !show; doc='disable'" >enable</Button>
        <Button v-else-if="doc === 'disable'" @click="show = !show;doc='enable';"  >disable</Button>
      </Transition>
    </div>
    <div class="flex-1 w-20">
      <Transition name="slide-fade">
      <h1 v-if="show">{{ msg }}</h1>
      </Transition>
    </div>
  </div>
</template>

<style>
.fade-in-enter-from, .fade-in-leave-to {
  opacity: 0;
}

.fade-in-enter-active, .fade-in-leave-active {
  transition: opacity 1s ease-in;
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}


.slide-up-enter-active,
.slide-up-leave-active {
  transition: opacity 3s ease-in;
}

.slide-up-enter-from {
  opacity: 0;
  transform: translateY(30px);
}

.slide-up-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}
</style>
