<script charset="utf-8">
export default {
}
</script>

<script setup>
import Button from "../Button/Button.vue";
import {ref,reactive, watch} from 'vue';

const updatedDesc = ref("");
const updateDesc = () => {
  book.description = updatedDesc.value
}

const book = reactive({
  title: 'Profane and sacred',
  description: 'Perennial tradition in depth',
  price: 30,
})

// discount
const discount = ref(5);
const newprice = ref(book.price);
const price = ref(book.price);
const updatedDiscount = ref(0);
const updateDiscount = () => {
  console.log("[!]", discount.value)
  discount.value = updatedDiscount.value;
}

watch(
  discount,
  (newValue) => {
    newprice.value = book.price - (book.price * newValue)/100;
  },
  {immediate: true}
)

// price
const updatePrice = () => {
  console.log("[?]",book.price, price.value)
  book.price = price.value
}

watch(
  () => book.price,
  (newValue) => {
    console.log("[?] s", newValue)
    newprice.value = newValue - (newValue * discount.value)/100
  },
  {immediate: true}
)

</script>

<template>
  <h2 class="text-lg font-medium">WATCH</h2>
  <div class="grid grid-cols-3 gap-4 sm:grid-cols-1">
    <label class="grid-flow-row">
      description
      <input v-model="updatedDesc" type="text" name="name" id="description"/>
      <Button @click="updateDesc">submit</Button>
    </label>
    <label class="grid-flow-row">
      discount
      <input v-model="updatedDiscount" type="text" name="name" id="discount"/>
      <Button @click="updateDiscount">submit</Button>
    </label>
    <label class="grid-flow-row">
      price 
      <input v-model="price" type="text" name="name" id="price"/>
      <Button @click="updatePrice">submit</Button>
    </label>
  </div>
  <div class="m-5">
    discount: {{ discount }}
    price: {{ book.price }}
    newprice: {{ newprice }}
    <br>
    json:{{ book }}
  </div>
  <br>
</template>
