<template>
  <h4> {{ name }}'s To Do List </h4>
  <div>
    <input v-model="newItemText" v-on:keyup.enter="addNewTodo" />
    <button v-on:click="addNewTodo">Add</button>
    <button v-on:click="removeTodo">Remove</button>
      <transition-group name="list" tag="ol">
        <li v-for="task in tasks" v-bind:key="task" >{{ task }}</li>
      </transition-group>
  </div>
</template>

<script>
import { ref, readonly } from "vue"

export default {
  name: "HelloWorld",
  setup () {
    const name = ref("Ivaylo")
    const tasks = ref(["Write my posts", "Go for a walk", "Meet my friends", "Buy fruit"])
    const newItemText = ref("") 

    const addNewTodo = () => {
      if (newItemText.value != "") {
        tasks.value.unshift(newItemText.value);
      }
      newItemText.value = "";
    }
    const removeTodo = () => {
      tasks.value.shift();
    }
    
    return {
      name: readonly(name),
      tasks: readonly(tasks),
      newItemText,
      addNewTodo,
      removeTodo
    }
  }
}; 
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
