<template>
  <!-- BEGIN: Page Layout -->
  log: {{runs}} 

<div class="overflow-x-auto">
    <Table>
        <Table.Thead>
            <Table.Tr>
                <Table.Th @click="sortTable(ID)" class="whitespace-nowrap">ID</Table.Th>
                <Table.Th class="whitespace-nowrap"> Service </Table.Th>
                <Table.Th class="whitespace-nowrap"> Test </Table.Th>
                <Table.Th class="whitespace-nowrap"> Status </Table.Th>
            </Table.Tr>
        </Table.Thead>
        <Table.Tbody  >
            <Table.Tr v-for="(entry, indx) in ENTRIES" :key=entry> 
                <Table.Td>{{ indx + 1 }}</Table.Td>
                <Table.Td>{{ entry.Service }}</Table.Td>
                <Table.Td>{{ entry.Test }}</Table.Td>
                <Table.Td>
                    <Button v-if="! entry.Status == 'Passed'" variant="danger" class="mb-2 mr-1">Failed
                        <Lucide icon="XCircleIcon" class="w-4 h-4" />
                    </Button>
                    <Button v-else variant="success" class="mb-2 mr-1">Passed
                        <Lucide icon="CheckIcon" class="w-4 h-4" />
                    </Button>
                </Table.Td>
            </Table.Tr>
        </Table.Tbody>
    </Table>
</div>


</template>

<script setup>
import Table  from "../base-components/Table";
import Button from "../base-components/Button";
import Lucide from "../base-components/Lucide";
import { Dialog } from "../base-components/Headless";
</script>

<script>
import Axios from 'axios';

// import { Octokit } from "https://cdn.skypack.dev/@octokit/core";
import { Octokit } from "https://cdn.skypack.dev/@octokit/rest";


export default {
  name: 'Crud',
  components: {
    Table,
  },
  
  data() {
    return {
      runs: [],
      octokit: null,
      currentDate: "",
      daysOfWeek: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
      weeks: [],
      ENTRIES: [
          {
           Service: "serv" ,
           Test: "Test1",
           Status: "Passed",
          }
      ],
      DOMAIN: import.meta.env.VITE_DOMAIN,
      editModal: false,
      deleteButtonRef: "",
      deleteModal: false,
      resetModal: false,
      reset: false,
      confirm: false,
      vals: "",
      time: { 
        hours: new Date().getHours(),
        minutes: new Date().getMinutes()
      },
      date: new Date(),
      flow: ["day", "time"]
    }
  },
  async created() {
    console.log("[Computed log]", this.ENTRIES.length)
    // this.ENTRIES = await this.GETALL("crud")
    this.date = ""
    this.octokit = new Octokit({
      auth: import.meta.env.VITE_TOKEN
    });

    await this.GETREPOS()
  },
  computed: {
    //te() {
    //  this.GETREPOS()
    //}
  },
  watch: {
    currentDate() {
      new Date()
    },
    runsa() {
      this.GETREPOS()
    }
  },
  methods: {
    getNow() {
      this.currentDate = new Date().toISOString().slice(0,16)+"Z"
    },
    DATECONV(unix) {
      const d = new Date(unix * 1000)
      const a = d.toLocaleDateString() + " " + d.toTimeString().split(" ")[0].slice(0,-3)
      return a
    },
    DATEUNIX(t) {
      const d = Date.parse(t) / 1000
      return d
    },
    ADD(endpoint) {
      Axios.put(this.DOMAIN + endpoint + '/add', {})
           .then((res) => {
               //Perform Success Action
               console.log(res) 
               this.GETALL(endpoint)
           })
           .catch((error) => {
               // error.response.status Check status code
               console.log(error) 
           })

    },
    async RESET(endpoint) {
      setTimeout(() => { 
        Axios.delete(this.DOMAIN + endpoint + '/delete/all')
          .then((res) => {
            console.log(res) 
            if (endpoint === "crud") {
              this.ENTRIES= []
            }
          })
          .catch((error) => {
            console.log(error)
          })
      }, 100)
    },
    async DEL(endpoint, ID) {
      setTimeout(() => { 
        Axios.delete(this.DOMAIN + endpoint + '/delete/' + ID)
          .then((res) => {
            // console.log(res) 
            this.GETALL(endpoint)
          })
          .catch((error) => {
            console.log(error)
          })
      }, 100)
    },
    async UPDATE(endpoint, ID) {
      const PAYLOAD = "created_at="+this.DATEUNIX(this.date).toString()
      setTimeout(() => { 
          Axios.put(this.DOMAIN + endpoint + '/update/' + ID, PAYLOAD)
              .then((res) => {
                  // console.log(res) 
                  this.GETALL(endpoint)
                  this.date = ""
              })
              .catch((error) => {
                  console.log(error)
              })
      }, 100)
    },
    async GETALL(endpoint) {
      setTimeout(() => { 
        Axios.get(this.DOMAIN + endpoint + '/get/all')
          .then((res) => {
            // console.log(res) 
            if (endpoint === "crud") {
              this.ENTRIES= res["data"]
              // console.log("[ENTRIES]",this.ENTRIES)
            }
          })
          .catch((error) => {
            console.log(error)
          })
      }, 100)
    },
    async GETFILE() {
      setTimeout(() => { 
        const {data: runs } = this.octokit.request('GET /repos/MushiTheMoshi/gota/actions/runs', {
          owner: 'MushiTheMoshi',
          repo: 'gota',
          headers: {
            'X-GitHub-Api-Version': '2022-11-28'
          }
        })
        this.runs = runs 
      }, 100)
    },
    async GETREPOS() {
      const { data: runs } = await this.octokit.request('GET /user/repos')
      console.log(runs[0].name)
      this.runs = runs.map(function (repo) {
          return repo.name
      });

    }
  }
}
</script>
