<template>
  <div class="w-5/6 max-w-md px-2 py-16 sm:px-0">
    <TabGroup>
      <TabList class="flex space-x-1 rounded-xl bg-blue-900/20 p-1">
        <Tab
          v-for="category in Object.keys(categories)"
          as="template"
          :key="category"
          v-slot="{ selected }"
        >
          <button
            :class="[
              'w-full rounded-lg py-2.5 text-sm font-medium leading-5 text-white-900',
              'ring-white ring-opacity-60 ring-offset-2 ring-offset-blue-400 focus:outline-none focus:ring-2',
              selected
                ? 'bg-white shadow'
                : 'text-blue-400 hover:bg-white/[0.20] hover:text-white',
            ]"
          >
            {{ category }}
          </button>
        </Tab>
      </TabList>

      <TabPanels class="mt-2">
        <TabPanel
          v-for="(posts, idx) in Object.values(categories)"
          :key="idx"
          :class="[
            'rounded-xl bg-white p-3',
            'ring-white opacity-90 ring-opacity-80 ring-offset-2 ring-offset-blue-400 focus:outline-none focus:ring-2',
          ]"
        >
          <ul class="items-center">
            <li
              v-for="post in posts"
              :key="post.id"
              class="flex relative rounded-md p-3 hover:bg-gray-100 flex-wrap items-center"
            >
            <button type="button" class="px-3 py-3 text-sm font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <svg class="w-5 h-3 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 10 16">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </button>

              <h3 class="text-sm font-medium leading-5 px-2 content-center">
                {{ post.title }}
              </h3>

              <a
                :href="post.link"
                :class="[
                  'absolute inset-0 rounded-md',
                  'ring-blue-400 focus:z-10 focus:outline-none focus:ring-2',
                ]"
              />
            </li>
          </ul>
        </TabPanel>
      </TabPanels>
    </TabGroup>
  </div>
</template>

<script setup>
import { ref } from 'vue'
import { TabGroup, TabList, Tab, TabPanels, TabPanel } from '@headlessui/vue'

const categories = ref({
 CICD : [
    {
      id: 1,
      title: 'argocd',
      date: '5h ago',
      commentCount: 5,
      shareCount: 2,
      link: 'https://google.com',
    },
    {
      id: 2,
      title: 'codebuild',
      date: '2h ago',
      commentCount: 3,
      shareCount: 2,
      link: 'https://google.com',
    },
  ],
  Monitoring: [
    {
      id: 1,
      title: 'Dashboard 1',
      date: 'Jan 7',
      commentCount: 29,
      shareCount: 16,
      link: 'https://google.com',
    },
    {
      id: 2,
      title: 'Dashboard 2',
      date: 'Mar 19',
      commentCount: 24,
      shareCount: 12,
      link: 'https://google.com',
    },
  ],
  Repos: [
    {
      id: 1,
      title: 'Repo 1',
      date: '2d ago',
      commentCount: 9,
      shareCount: 5,
      link: 'https://google.com',
    },
    {
      id: 2,
      title: 'Repo 2',
      date: '4d ago',
      commentCount: 1,
      shareCount: 2,
      link: 'https://google.com',
    },
  ],
})
</script>
