<template>
  hello world {{ this.$store.state.L }}
  <br>
  hello world {{ this.$store.state.count }}
  <br>
  <button type="button" class="btn btn-primary" @click="counterST" >UpdateL</button>
  <br>
  <button type="button" class="btn btn-primary" @click="counter" >Count</button>
  <br>
  <button type="button" class="btn btn-primary" @click="delTest" >delTest</button>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },

  data() {
    return { 
      count: 0,
      obj: {
        a: 1,
        b: this.count
      }
    }
  },

  methods: {
    counter(){
      console.log(this.$store.state.count)
      this.$store.commit("increment", 11)
    },

    counterST(){
      console.log(this.$store.state.L)
      this.$store.commit("updateL", this.obj)
    },

    delTest(){
      this.$store.commit("delL")
    }
  },

  beforeMount() {
    console.log(this.$store.state.L, "this is amount")
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
html,body {
  background: #1b1d1c !important ;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
