<template>
  <br>
  PROP VAL: {{ msg }}
  <br>
  DATA VAL: {{ A }}
  <br>
  COMP REACT VAL: {{ B }}
  <br>
  <button @click="hello(A)">Component</button>
  <br>
  COMP ATTRS: {{ this.$attrs }}
  <br>
  <input
    type="text"
    :value="msg"
    @input="$emit('update:msg', $event.target.value)">
  <br>
  ------------END COMP--------------
  <br>
  
</template>

<script>
import { watchEffect } from "vue"
export default {
  name: 'HelloWorld',
  props: {
    msg: String,
  },
  emits: ["em", "update:msg"],
  data() {
    return {
      A: "Data " + this.msg,
      B: ""
    }
  },
  setup(props) {
      watchEffect(() => {
        console.log("from component: " + props.msg)
      })
  },
  watch: {
    alerta(){
      this.al()
    }
  },
  methods: {
    al(){
      alert("TEST")
    },
    hello(msg) {
      if (this.B === "method" || this.B === "") {
        this.B = "method2" 
      } else if (this.B === "method2") {
        this.B = "method" 
      }
      console.log("from method: " + msg )
    },
    emi(event) {
      console.log("this is emmit " + event)
    }
  }
}
</script>
