<template>

<div class="this3 flex bottom-0 left-0 text-3xl">
    TEXT3
</div>

<div class="flex h-100 justify-center items-center static">
    <div class="this flex-1 bottom-0 left-0 text-3xl">
        TEXT1
    </div>
    <div class="this2 flex-1 bottom-0 left-0 text-3xl">
        TEXT2
    </div>
</div>


</template>

<script setup>
import anime from 'animejs';                      
import { onMounted, reactive,ref } from "vue";

const texts = reactive(["this", "and", "that"])
const a = ref(false)

onMounted((el,done) => {

    console.log(el,done)

    let t1 = anime.timeline({
      easing: 'easeOutExpo',
      duration: 1200
    })

    t1
    .add({
        targets: ".this",
        opacity: [0, 1],
        translateY: [-80, 0],
        duration: 1000,
        easing: 'easeOutCubic',
    })
    .add({
        targets: ".this",
        translateX: [0, 10],
        duration: 600,
        easing: 'easeOutCubic',
    })
    .add({
        targets: ".this2",
        opacity: [0, 1],
        translateY: [10, 0],
        duration: 600,
        easing: 'easeOutCubic',
    })
    .add({
        targets: ".this2",
        translateX: [0, 10],
        duration: 600,
        easing: 'easeOutCubic',
    })
    .add({
        targets: ".this.this2",
        translateX: [1, 0],
        duration: 600,
        easing: 'easeOutCubic',
    })

    .add({
        targets: ".this3",
        translateX: [0, 1],
        duration: 600,
        easing: 'easeOutCubic',
        complete: done,
    })

    //a.value = true;
    
})
</script>

