<template>

    <div id="card">
        <!-- <transition :css="false" @beforeEnter="beforeEnter" @enter="onEnter" @leave="onLeave"> -->
        <!-- <div v-for="n in count" class="card" :key="n" ref="card" :data-index="n - 1"> -->
        <!--     <h1>{{ n }}</h1> -->
        <!-- </div> -->
        <!-- </transition> -->

        {{ cardsActive }}
        <header>
            <h2>Vue Transition-Group + AnimeJS</h2>
            <button @click="toggleCards">Toggle Cards: <strong>{{ cardsActive ? 'OFF' : 'ON' }}</strong></button>       
        </header>
        <transition-group  :css="false" @beforeEnter="beforeEnter" @enter="onEnter" @leave="onLeave">
            <div v-for="n in count" class="card" :key="n" ref="card" :data-index="n - 1">
                <h1>{{ n }}</h1>
            </div>
        </transition-group>
    </div>

</template>

<script>
import anime from 'animejs';                      

export default {
    props: {
        totalCards: {
            type: Number,
            default: 3,
        },
    },
    data() {
        return {
            cardsActive: false,
        }
    },
    computed: {
        count() {
            return this.cardsActive ? this.totalCards : 0
        },
    },
    methods: {
        toggleCards() {
            this.cardsActive = !this.cardsActive
        },

        beforeEnter(el, done) {
            console.log("beforeenter")
            this.cardsActive = true

        },
        
        // called one frame after the element is inserted.
        // use this to start the animation.
        onEnter(el, done) {
            this.cardsActive = true
       
            anime({
                targets: el,
                opacity: [0, 1],
                translateY: [-300, 0],
                duration: 1000,
                easing: 'easeOutElastic',
                delay: el.dataset.index * 100, // build a custom delay based on the index
                complete: done,
            })
        },
        
        // called when the leave transition starts.
        // use this to start the leaving animation.
        onLeave(el, done) {
            anime({
                targets: el,
                opacity: [1, 0],
                translateY: [0, 300],
                duration: 500,
                easing: 'easeOutCubic',
                delay: (this.totalCards - el.dataset.index) * 50, // reverse our custom delay
                complete: done,
            })
        },
    }
};
</script>

<!-- Use preprocessors via the lang attribute! e.g. <style lang="scss"> -->
<style>
#app {
    text-align: center;
    color: var(--color-text);
    padding-top: 30px;
    min-height: 100vh;
    width: 100vw;
}
    
    header {
        border-bottom: 1px solid #ddd;
        margin: 0 0 30px;
        padding: 0 0 30px;
    }
    
    fieldset {
        border: 0;
        padding: 1rem 0;
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }
    
    label {
        text-transform: uppercase;
    }

    h1 {
        font-size: 2rem;
        transition: color 0.3s;
    }
    
    h2 {
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, 110px);
        gap: 1rem;
        margin: 1rem auto;
        padding: 0 2rem;
        max-width: 615px;
    }
    
    .card {
        align-items: center;
        background: white;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
        border-radius: 25px;
        display: inline-flex;
        height: 90px;
        justify-content: center;
        padding: 8px;
        width: 90px;
    }

button {
    color: var(--color-primary);
    background: none;
    border: solid 1px;
    border-radius: 2em;
    font: inherit;
    padding: 0.75em 2em;
    
    &:hover,
    &:focus {
        background: var(--color-primary);
        color: #fff;
        cursor: pointer;
    }
}
</style>
