<script setup lang=ts>
import H from '../base-components/helloworld/h.vue';
import Refs from '../base-components/helloworld/ref_reactive.vue';
import Computed from '../base-components/helloworld/compu.vue';
import Watch from '../base-components/helloworld/watch.vue';
import Lifecycle from '../base-components/helloworld/lifecycle.vue';
import Composable from '../base-components/helloworld/composable.vue';
import Tran from '../base-components/helloworld/transition.vue';
import State from '../base-components/helloworld/state.vue';
import FVal from '../base-components/helloworld/form_validation.vue';
import CTest from '../base-components/helloworld/component_test.vue';

const msg = "HelloWorld";

  
</script>

<template>
  <div class="flex items-center mt-8 intro-y">
    <h2 class="mr-auto text-lg font-medium">Examples from book</h2>
  </div>
  <!-- BEGIN: Page Layout -->
  <div class="p-5 mt-5 intro-y box">
  <CTest/>
  </div>

  <div class="p-5 mt-5 intro-y box">
  <FVal />
  </div>

  <div class="p-5 mt-5 intro-y box">
  <State />
  </div>

  <div class="p-5 mt-5 intro-y box">
  <Tran />
  </div>

  <div class="p-5 mt-5 intro-y box">
  <Composable />
  </div>

  <div class="p-5 mt-5 intro-y box">
  <Lifecycle  />
  </div>

  <div class="p-5 mt-5 intro-y box">
  <Watch      />
  </div>

  <div class="p-5 mt-5 intro-y box">
  <Computed   />
  </div>

  <div class="p-5 mt-5 intro-y box">
  <Refs       />
  </div>

  <div class="p-5 mt-5 intro-y box">
  <H :greet="msg" who="julieto" />
  </div>
  {{ msg }}
  <!-- END: Page Layout -->
</template>
