<template>
  <!-- <div class="fixed top-0 right-0 z-50 top-0 h-16 w-16 mt-10"> TEXTO </div> -->

  <RouterView v-slot="{ Component, route }">
    <Transition :name="route.meta.transition || 'fade-in'">
      <component :is="Component" />
      <!-- <component :is="Component" :key="route.path" /> -->
    </Transition>
  </RouterView>

</template>


<script setup lang=ts>
let transition = "fade";
const mode = "out-in";
  
</script>

<style>
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s ease-in;
}
</style>
