<template>
  <img alt="Vue logo" src="./assets/logo.png">
  <HelloWorld 
    v-model:msg="VAR" 
    @em="eltest" 
    data-a="AAA" 
    data-b="BBB" 
  />
  <br>
  {{ VAR }}
  <br>
  <button @click="test()">Master</button>
  <br>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
//import { ref } from "vue";

export default {
  name: 'App',
  components: {
    HelloWorld
  },
  data() {
    return {
      VAR: "TEST",
      VAL: this.$attrs
    }
  },
  methods: {
    test(){
      if (this.VAR != "MOST"){
        this.VAR = "MOST"
      } else {
        this.VAR = "TEST"
      }
    },
    eltest(event){
      console.log(event.target.value)
      console.log("emmit")
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
