<script setup>
import HelloWorld from './components/HelloWorld.vue'
</script>

<template>
    <div class="flex h-screen justify-center items-center p-2 dark:bg-slate-800 bg-gradient-to-tr from-violet-900 via-blue-700 to-indigo-900">
        <HelloWorld class="" msg="Vite + Vue" />
    </div>
</template>

<style scoped>
</style>
